# variables dummy datasets

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

n=1000000
data = pd.DataFrame(
        {
            'A': np.random.randn(n),
            'B': 1.5 + 2.5 * np.random.randn(n),
            'c': np.random.uniform(5,32,n)
        }
)

In [8]:
data.describe()

                    A               B               c
count  1000000.000000  1000000.000000  1000000.000000
mean        -0.000774        1.500770       18.495612
std          0.999552        2.502790        7.794019
min         -5.028055      -10.189492        5.000007
25%         -0.676628       -0.186453       11.744074
50%         -0.000407        1.501429       18.481062
75%          0.674094        3.191636       25.247871
max          4.918499       13.362063       31.999990

In [9]:
data = pd.read_csv('datasets/customer-churn-model/Customer Churn Model.txt')
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [12]:
column_names = data.columns.values.tolist()
a = len(column_names)
a

21

In [13]:
n_data = pd.DataFrame(
    {
        'Column Name': column_names,
        'A': np.random.randn(a),
        'B': np.random.uniform(0,1,a),
    }
)

In [14]:
n_data

       Column Name         A         B
0            State -0.453957  0.980215
1   Account Length -1.210139  0.772549
2        Area Code  0.398364  0.253427
3            Phone -0.251049  0.340752
4       Int'l Plan  1.474030  0.783010
5       VMail Plan -2.122003  0.171477
6    VMail Message  1.025382  0.651817
7         Day Mins  1.586740  0.285088
8        Day Calls  0.442317  0.239504
9       Day Charge  0.531038  0.425443
10        Eve Mins  0.409275  0.038937
11       Eve Calls -1.616375  0.761504
12      Eve Charge -1.132687  0.153523
13      Night Mins  0.189725  0.915658
14     Night Calls -0.959488  0.790034
15    Night Charge -0.772970  0.992092
16       Intl Mins  0.215212  0.058190
17      Intl Calls  0.544266  0.363449
18     Intl Charge  0.354461  0.519701
19  CustServ Calls -0.730160  0.997760
20          Churn? -1.758267  0.048652